.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#document-content {
    max-width: 800px;
    color: #222;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}
