{% extends "main.html" %}
{% block title %}Home{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css" />
{% endblock %}
{% block content %}
<h1>MarXXIsts</h1>
<h2>Modern Marxist Internet Archive</h2>
<p>
    The purpose of this website is to provide a space in which modern marxist thinkers can
    publish their thought for other marxists to consume, critique and contribute to. It is
    intentionally similar to <a href="https://marxists.org">marxists.org</a>, as it simply
    intends to provide similar and additional functionality to encourage modern marxists
    to interact with one another's thoughts as they apply to the 21st century.
</p>
{% endblock %}
