{% extends "main.html" %}
{% block title %}Profile - {{ user.username }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<h1>{{ user.display_name }}</h1>
<h3>Published Works</h3>
{% for work in user.works %}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ work.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Published on {{ work.date_published.strftime("%m/%d/%Y at %H:%M") }}</h6>
        <a href="/document/{{ work.id }}" class="card-link">
            <button type="button" class="btn btn-primary">
                View
            </button>
        </a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
            Delete
        </button>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Work</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete this work and all previous versions?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button id="delete-document" type="button" class="btn btn-danger">Delete</button>
                    <script>
                        document.getElementById('delete-document').onclick = function deleteDocument () {
                            fetch("/document/" + "{{work.id}}" + "/delete", { method: 'DELETE' }).then((v) => location.reload())
                          }
                    </script>
                </div>
                </div>
            </div>
            </div>
    </div>
</div>
{% endfor %}
{% endblock %}
